*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    width: 600px;
    background-color: olive;
    margin: 0 auto;
    font-size: 0;
}
header div{
    display: inline-block;
    width: 300px;
    background-color: rgb(232, 118, 37);
    font-size: 14px;
}